<h4>Default Address</h4>

<common-address componentLabel="Address" [disabled]="disabled"></common-address>

<h4> Adress with State: Disabled</h4>

<common-address componentLabel="Address" [disabled]="true"></common-address>

<h4> Adress with Dropdown List </h4>

<!--
<common-country label="Country"
                  [countryList]="countryList"
                  [required]="isRequired"
                  [disabled]="disabled" ></common-country>


<common-province label="Province/State"
                     [provinceList]="provList"
                     [required]="isRequired"
                     [disabled]="disabled"
                     placeholder="Select a Province"></common-province>

<common-street label="Full street address or rural route"
                     [useGeoCoder]="useGeoCoder()"
                     [required]="isRequired"
                     [disabled]="disabled"></common-street>

<common-city label="City"
                 [required]="isRequired"
                 [disabled]="disabled"></common-city>

<common-postal-code [label]="'Postal Code'"
                 [displayMask]="isCanada()"
                 [disabled]="disabled"
                 [required]="isRequired"></common-postal-code>
-->